.home-banner {
  background-image: url('https://images.unsplash.com/photo-1514933651103-005eec06c04b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80');
  background-size: cover;
  height: 75vh;
  color: white;

  text-align: center;
  padding-top: 40vh;
}

.home-banner h1  {
  font-size: 6.5rem;

}
